%li
  :ruby
    item_id = item[:achievement] ? item[:achievement].downcase.gsub(/[^a-z]/, '_') : "#{item[:title]} #{item.published}".downcase.gsub(/[^a-z]/, '_')
    hover_text = "#{item[:title]}"
    if item[:platform]
      hover_text << "\n(#{item[:platform]})"
    end
    if item[:achievement]
      hover_text << "\n\n#{item[:achievement]}"
    end
    if item[:amazon_url] || item[:url]
      amazon_url = (item[:amazon_url] && (item[:similarity] >= SIMILAR_THRESHOLD)) ? item[:amazon_url] : nil
      url = !amazon_url.blank? ? amazon_url : item[:url]
    end
  - if !item[:image_url].blank?
    - if !amazon_url.blank?
      = link_to image_tag(item[:image_url], :alt => hover_text, :title => hover_text), amazon_url, id: "opener_#{item_id}"
    - else
      = link_to image_tag(item[:image_url], :alt => hover_text, :title => hover_text), url, id: "opener_#{item_id}"
  - else
    = link_to hover_text, url, id: "opener_#{item_id}"
  %p{:class => "when fade#{fade}"}
    - if item[:published]
      = how_long_ago(item[:published])
  :javascript
    $(function() {
      $( '#dialog_game_#{item_id}' ).dialog({
        autoOpen: false,  
      });
      $( '#opener_#{item_id}' ).click(function(e) {
        e.preventDefault();
        $( '#dialog_game_#{item_id}' ).dialog( "open" );
      });
    });
  %div{style: 'display:none;'}
    %div{id: "dialog_game_#{item_id}", title: item[:title]}
      - if item[:image_url]
        %p.center
          - if !url.blank?
            = link_to image_tag(item[:image_url]), url
          - else
            = image_tag item[:image_url]
      %p
        - if item[:achievement]
          Earned #{link_to item[:achievement], item[:url]} in 
        - else
          Played 
        - if !url.blank?
          #{link_to item[:title], url }
        - else
          #{item[:title]}
        -if item[:platform]
          on #{item[:platform]}
      %p.clear.center.when.fade60
        - if item[:published]
          - the_time = (item[:published].to_time.to_i == item[:published].beginning_of_day.to_time.to_i) ? item[:published].end_of_day : item[:published]
          = how_long_ago(the_time)