%li
  :ruby
    game_id = !item[:achievement].blank? ? item[:achievement] : "#{item[:title]} #{item.published.to_fs(:published)}"
    game_id = game_id.downcase.gsub(/[^a-z0-9]/, '_').gsub(/_+/, '_').gsub(/_\z/, '')
    hover_text = "#{item[:title]}"
    if item[:platform]
      hover_text << "\n(#{item[:platform]})"
    end
    unless item[:achievement].blank?
      hover_text << "\n\n#{item[:achievement]}"
    end
  - if !item[:thumb_url].blank?
    = link_to image_tag(item[:thumb_url], alt: hover_text, title: hover_text), item[:url], id: "opener_#{game_id}"
  - else
    = link_to hover_text, item[:url], id: "opener_#{game_id}"
  %p{:class => "when fade#{fade}"}
    - if item[:published]
      = how_long_ago(item[:published])
  %dialog.game_dialog.fixed{id: "dialog_game_#{game_id}"}
    - if item[:image_url]
      %p.centered{title: item[:title]}
        - if !item[:url].blank?
          = link_to image_tag(item[:image_url]), item[:url], target: '_blank'
        - else
          = image_tag item[:image_url]
    .game_name
      - if !item[:url].blank?
        = link_to item[:title], item[:url], target: '_blank'
      - else
        = item[:title]
    .game_platform
      - if item[:published]
        played
        = how_long_ago(item[:published])
      -if item[:platform]
        on
        = item[:platform]
    - if item[:achievement]
      .cheevo{title: 'last achievement'}
        - if !item[:url].blank?
          = link_to item[:achievement], item[:url], target: '_blank'
        - else
          = item[:achievement]
        - if !item[:achievement_time].blank?
          .cheevo_time
            earned
            = how_long_ago(item[:achievement_time])
    %p.centered
      %button{id: "closer_#{game_id}"} close
  = javascript_tag nonce: true do
    :plain
      var dialog_game_#{game_id} = document.querySelector("#dialog_game_#{game_id}");
      dialogPolyfill.registerDialog(dialog_game_#{game_id});
      $('#opener_#{game_id}').click(function(e) {
        dialog_game_#{game_id}.showModal();
        return false;
      });
      $('#closer_#{game_id}').click(function(e) {
        dialog_game_#{game_id}.close();
        return false;
      });
      const updateBackdrop_game_#{game_id} = (ev) => {
        if (ev && ev.target !== dialog_game_#{game_id}) {
          return;
        }
        dialog_game_#{game_id}.close();
      };
      dialog_game_#{game_id}.addEventListener('click', updateBackdrop_game_#{game_id});