%li
  :ruby
    item_id = item[:achievement] ? item[:achievement].downcase.gsub(/[^a-z]/, '_') : "#{item[:title]} #{item.published}".downcase.gsub(/[^a-z]/, '_')
    hover_text = "#{item[:title]}"
    if item[:platform]
      hover_text << "\n(#{item[:platform]})"
    end
    if item[:achievement]
      hover_text << "\n\n#{item[:achievement]}"
    end
  - if item[:image_url] && item[:amazon_url] && (item[:similarity] >= SIMILAR_THRESHOLD)
    = link_to image_tag(item[:image_url], :alt => hover_text, :title => hover_text), item[:amazon_url], id: "opener_#{item_id}"
  - elsif item[:image_url] && item[:amazon_title].blank?
    = link_to image_tag(item[:image_url], :alt => hover_text, :title => hover_text), item[:url], id: "opener_#{item_id}"
  - else
    = link_to hover_text, item[:url], id: "opener_#{item_id}"
  %p{:class => "when fade#{fade}"}
    - if item[:published]
      = time_ago_in_words(item[:published])+' ago'
  :javascript
    $(function() {
      $( '#dialog_game_#{item_id}' ).dialog({
        autoOpen: false,  
      });
      $( '#opener_#{item_id}' ).click(function(e) {
        e.preventDefault();
        $( '#dialog_game_#{item_id}' ).dialog( "open" );
      });
    });
  %div{style: 'display:none;'}
    %div{id: "dialog_game_#{item_id}", title: item[:title]}
      %p.center
        - if item[:image_url] && item[:amazon_url] && (item[:similarity] >= SIMILAR_THRESHOLD)
          = link_to image_tag(item[:image_url]), item[:amazon_url]
        - elsif item[:image_url] && item[:amazon_title].blank?
          = link_to image_tag(item[:image_url]), item[:url]
      %p
        - if item[:achievement]
          Earned #{link_to item[:achievement], item[:url]} in 
        - else
          Started playing 
        #{link_to item[:title], ((item[:amazon_url] && (item[:similarity] >= SIMILAR_THRESHOLD)) ? item[:amazon_url] : item[:url]) }
        -if item[:platform]
          on #{item[:platform]}
      %p.clear.center.when.fade60
        = time_ago_in_words(item[:published])+' ago'