%li
  :ruby
    item_id = !item[:achievement].blank? ? item[:achievement] : "#{item[:title]} #{item.published}"
    item_id = item_id.downcase.gsub(/[^a-z]/, '_').gsub(/_+/, '_').gsub(/_\z/, '')
    hover_text = "#{item[:title]}"
    if item[:platform]
      hover_text << "\n(#{item[:platform]})"
    end
    unless item[:achievement].blank?
      hover_text << "\n\n#{item[:achievement]}"
    end
  - if !item[:image_url].blank?
    = link_to image_tag(item[:image_url], alt: hover_text, title: hover_text), item[:url], id: "opener_#{item_id}"
  - else
    = link_to hover_text, item[:url], id: "opener_#{item_id}"
  %p{:class => "when fade#{fade}"}
    - if item[:published]
      = how_long_ago(item[:published])
  :javascript
    $(function() {
      $( '#dialog_game_#{item_id}' ).dialog({
        autoOpen: false,  
      });
      $( '#opener_#{item_id}' ).click(function(e) {
        e.preventDefault();
        $( '#dialog_game_#{item_id}' ).dialog( "open" );
      });
    });
  %div{style: 'display:none;'}
    %div{id: "dialog_game_#{item_id}", title: item[:title]}
      - if item[:image_url]
        %p.center
          - if !item[:url].blank?
            = link_to image_tag(item[:image_url]), item[:url], target: '_blank'
          - else
            = image_tag item[:image_url]
      %p
        - unless item[:achievement].blank?
          Earned #{link_to item[:achievement], item[:url], target: '_blank'} in 
        - else
          Played 
        - if !item[:url].blank?
          #{link_to item[:title], item[:url], target: '_blank'}
        - else
          #{item[:title]}
        -if item[:platform]
          on #{item[:platform]}
      %p.clear.center.when.fade60
        - if item[:published]
          - the_time = (item[:published].to_time.to_i == item[:published].beginning_of_day.to_time.to_i) ? item[:published].end_of_day : item[:published]
          = how_long_ago(the_time)