%li
  :ruby
    game_id = !game[:achievement].blank? ? "#{game[:platform]} #{game[:title]} #{game[:achievement]}" : "#{game[:platform]} #{game[:title]} #{game.published.to_fs(:published)}"
    game_id = game_id.downcase.gsub(/[^a-z0-9]/, '_').gsub(/_+/, '_').gsub(/_\z/, '')
    hover_text = "#{game[:title]}"
    if game[:platform]
      hover_text << "\n(#{game[:platform]})"
    end
    unless game[:achievement].blank?
      hover_text << "\n\n#{game[:achievement]}"
    end
  = link_to image_tag(game[:thumb_url], alt: hover_text, title: hover_text, height: 100, width: 100), game[:url], id: "opener_#{game_id}"
  %p{class: "when fade#{fade}"}
    - if game[:published]
      = time_ago_in_words(game[:published])+' ago'
  %dialog.game_dialog.fixed{id: "dialog_game_#{game_id}"}
    %p.centered{title: game[:title]}
      - if !game[:url].blank?
        = link_to image_tag(game[:image_url], alt: game[:title], height: 300, width: 300), game[:url]
      - else
        = image_tag game[:image_url], alt: game[:title], height: 300, width: 300
    .game_name
      - if !game[:url].blank?
        = link_to game[:title], game[:url]
      - else
        = game[:title]
    .game_platform
      - if game[:published]
        played
        = time_ago_in_words(game[:published])+' ago'
      -if game[:platform]
        on
        = game[:platform]
    - if game[:achievement]
      .cheevo{title: 'last achievement'}
        .cheevo_title
          - if !game[:url].blank?
            = link_to game[:achievement], game[:url]
          - else
            = game[:achievement]
        - if !game[:achievement_desc].blank?
          .cheevo_desc
            = game[:achievement_desc]
        - if !game[:achievement_time].blank?
          .cheevo_time
            earned
            = time_ago_in_words(game[:achievement_time])+' ago'
  = javascript_tag nonce: true do
    :plain
      var dialog_game_#{game_id} = document.querySelector("#dialog_game_#{game_id}");
      dialogPolyfill.registerDialog(dialog_game_#{game_id});
      $('#opener_#{game_id}').click(function(e) {
        dialog_game_#{game_id}.showModal();
        return false;
      });
      const updateBackdrop_game_#{game_id} = (ev) => {
        if (ev && ev.target !== dialog_game_#{game_id}) {
          return;
        }
        dialog_game_#{game_id}.close();
      };
      dialog_game_#{game_id}.addEventListener('click', updateBackdrop_game_#{game_id});