%li
  :ruby
    book_id = "#{book[:title]} #{book[:published].to_fs(:published)}"
    book_id = book_id.downcase.gsub(/[^a-z0-9]/, '_').gsub(/_+/, '_').gsub(/_\z/, '')
    hover_text = "#{book[:title]}"
  - if book[:thumb_url]
    = link_to image_tag(book[:thumb_url], alt: book[:title], title: book[:title]), book[:url], id: "opener_#{book_id}"
  - else
    = link_to book[:title], book[:url], id: "opener_#{book_id}"
  %p{class: "when fade#{fade}"}
    - if book[:published]
      = time_ago_in_words(book[:published])+' ago'
  %dialog.fixed{id: "dialog_book_#{book_id}", title: book[:title]}
    - if book[:image_url]
      %p.centered
        - if !book[:url].blank?
          = link_to image_tag(book[:image_url], alt: book[:title]), book[:url], target: '_blank'
        - else
          = image_tag book[:image_url], alt: book[:title]
    %p
      - if !book[:url].blank?
        #{link_to book[:title], book[:url], target: '_blank'}
      - else
        #{book[:title]}
    %p.clear.centered.when.fade60
      - if book[:published]
        - the_time = (book[:published].to_time.to_i == book[:published].beginning_of_day.to_time.to_i) ? book[:published].end_of_day : book[:published]
        = time_ago_in_words(the_time)+' ago'
  = javascript_tag nonce: true do
    :plain
      var dialog_book_#{book_id} = document.querySelector("#dialog_book_#{book_id}");
      dialogPolyfill.registerDialog(dialog_book_#{book_id});
      $('#opener_#{book_id}').click(function(e) {
        dialog_book_#{book_id}.showModal();
        return false;
      });
      const updateBackdrop_book_#{book_id} = (ev) => {
        if (ev && ev.target !== dialog_book_#{book_id}) {
          return;
        }
        dialog_book_#{book_id}.close();
      };
      dialog_book_#{book_id}.addEventListener('click', updateBackdrop_book_#{book_id});