- unless photo[:src].blank?
  %li
    = link_to image_tag(photo[:src], alt: photo[:title], title: HTMLEntities.new.decode(strip_tags(photo[:summary]).sub(/tekniklr posted a photo:/, '').strip)), photo[:url], id: "flickr_thumbnail_#{index}"
    - if !photo[:title].blank?
      %p.caption
        = truncate photo[:title], length: 60
    %p{:class => "when fade#{fade}"}
      - if photo[:published]
        = time_ago_in_words(photo[:published])+' ago'
    :javascript
      $('#flickr_thumbnail_#{index}').colorbox({
        rel: 'flickr',
        scalePhotos: true,
        maxHeight: '90%',
        maxWidth: '90%',
        href: '#{photo[:src].gsub('_m', '')}',
        title: '#{photo[:title]}',
        current: ''
      });