%li
  - toot_handle       = toot.account.username
  - toot_display_name = toot.account.display_name

  - if !toot.attributes.reblog.blank?
    .boost
      ↺
      .display_name
        = toot_display_name
      boosted
    - toot_handle       = toot.reblog.account.username
    - toot_display_name = toot.reblog.account.display_name
    - toot_user_avatar  = toot.reblog.account.avatar
    - toot_user_link    = toot.reblog.account.url
    - toot_link         = toot.reblog.url
    - toot_spoiler      = toot.reblog.spoiler_text
    - toot_text         = toot.reblog.content
    - boost_count       = toot.reblog.reblogs_count
    - fave_count        = toot.reblog.favourites_count
    - media             = toot.reblog.media_attachments
  - else
    - toot_user_avatar  = toot.account.avatar
    - toot_user_link    = toot.account.url
    - toot_link         = toot.url
    - toot_spoiler      = toot.spoiler_text
    - toot_text         = toot.content
    - boost_count       = toot.reblogs_count
    - fave_count        = toot.favourites_count
    - media             = toot.media_attachments
      
  .user_pic
    - if !toot_user_avatar.blank?
      = link_to image_tag(toot_user_avatar, alt: toot_display_name, title:toot_display_name), toot_user_link

  .toot
    .user_name
      .display_name
        = toot_display_name
      .handle
        = link_to "@#{toot_handle}", toot_user_link

    .toot_content
      - if !toot_spoiler.blank?
        .spoiler{id: "spoiler_#{toot.id}", title: 'Click to show content'}
          = toot_spoiler
        = javascript_tag nonce: true do
          :plain
            $(document).ready(function() {
              $('#toot_#{toot.id}').hide();
              $('#spoiler_#{toot.id}').click(function() {
                $('#toot_#{toot.id}').toggle(400);
              });
            });
      %div{id: "toot_#{toot.id}"}
        = simple_format sanitize(toot_text, tags: %w(a img p br span), attributes: %w(href target src class)), {}, sanitize: false # simple format was double sanitizing
        - if !media.blank?
          - media.each do |medium|
            %p
              = link_to image_tag(medium.attributes.preview_url, alt: medium.attributes.description, title: medium.attributes.description, width: medium.attributes.meta.small.width), medium.attributes.url

    .reach
      %span{title: pluralize(boost_count, 'boost')}
        = "↺ #{boost_count}"
      %span{title: pluralize(fave_count, 'favourite')}
        = "☆ #{fave_count}"

  .time_ago
    = link_to time_ago_in_words(toot.created_at.to_datetime)+' ago', toot_link