- spoiler_tags = post.tags.select{|t| t =~ /spoilers/}
%article{id: post.id}
  .meta
    = link_to "#{post.reblog ? "Reblogged #{post.reblog}" : 'Posted'} #{time_ago_in_words(post.time)} ago", post.url
  - unless spoiler_tags.empty?
    .spoiler
      %p
        This post is tagged with:
        = sanitize spoiler_tags.collect{|t| "<strong>#{t}</strong>"}.join(', '), tags: %w(strong)
      %p
        = button_tag 'show post', type: 'button', 'data-id': post.id, class: 'btn btn-secondary'
  .content{class: spoiler_tags.empty? ? '' : 'hidden'}
    - unless post.photos.empty?
      .images
        - post.photos.each do |photo|
          .image
            = image_tag photo
    = sanitize post.body, tags: %w(a p blockquote img figure video source), attributes: %w(href target class src data-npf controls autoplay playsinline muted poster type)
  - unless post.tags.empty?
    .tagged
      Tagged:
      = sanitize post.tags.collect{|t| link_to(t, "https://tumblr.com/tagged/#{t}")}.join(', '), tags: %w(a), attributes: %w(href target)