%li
  - tweet_user_name = tweet.user.name
  - actual_tweet = tweet

  - if tweet.retweeted?
    - actual_tweet = tweet.retweeted_status
    .retweet
      ↺
      .twitter_name
        = tweet_user_name
      retweeted

  - tweet_user_name = actual_tweet.user.name
  - tweet_user_handle = actual_tweet.user.screen_name
  - tweet_user_avatar = actual_tweet.user.profile_image_url_https
  - tweet_user_link = "https://twitter.com/#{tweet_user_handle}"
  - tweet_id = actual_tweet.id.to_s
  - tweet_link = "#{tweet_user_link}/status/#{tweet_id}"
  - tweet_text = actual_tweet.to_hash.full_text.dup
  
  - if !actual_tweet.user_mentions.blank?
    - actual_tweet.user_mentions.each do |mention|
      - tweet_text.gsub!(/@#{mention.screen_name}/, "<a href='https://twitter.com/#{mention.screen_name}' target='_blank'>@#{mention.screen_name}</a>")
  - if !actual_tweet.media.blank?
    - actual_tweet.media.each do |medium|
      - tweet_text.gsub!(/#{medium.url}/, "<a href='#{medium.expanded_url}' target='_blank'><img src='#{medium.media_url_https}' /></a>")
  - if !actual_tweet.urls.blank?
    - actual_tweet.urls.each do |url|
      - tweet_text.gsub!(/#{url.url}/, "<a href='#{url.expanded_url}' target='_blank'>#{url.display_url}</a>")
  .user_pic
    - if !tweet_user_avatar.blank?
      = link_to image_tag(tweet_user_avatar, alt: tweet_user_name, title:tweet_user_name), "https://twitter.com/#{tweet_user_handle}/", target: '_blank'

  .tweet
    .user_name
      .twitter_name
        = tweet_user_name
      .twitter_handle
        = link_to "@#{tweet_user_handle}", tweet_user_link, target: '_blank'

    .tweet_content
      = simple_format sanitize(tweet_text, tags: %w(a img), attributes: %w(href target src)), {}, sanitize: false # simple format was double sanitizing

    .reach
      %span{title: "#{tweet.retweet_count} boosts"}
        = link_to "↺ #{tweet.retweet_count}", "https://twitter.com/intent/retweet?tweet_id=#{tweet_id}", target: '_blank'
      %span{title: "#{tweet.favorite_count} florps"}
        = link_to "☆ #{tweet.favorite_count}", "https://twitter.com/intent/like?tweet_id=#{tweet_id}", target: '_blank'

  .time_ago
    = link_to time_ago_in_words(tweet.created_at.to_datetime)+' ago', tweet_link, target: '_blank'