%p
  The current iteration of my website is powered by or includes 
  the following things, among others:

%ul
  %li
    = link_to 'HTML5 Boilerplate', 'http://html5boilerplate.com/'
  %li
    = link_to 'Rails', 'http://rubyonrails.org/'
  %li
    = link_to 'WordPress', 'http://wordpress.org/'
  %li
    The 
    = link_to 'wordpress theme', 'https://github.com/tekniklr/tekniklr.com-wordpress-theme'
    I use on this site was adapted from 
    = link_to 'the Boilerplate theme', 'http://wordpress.org/extend/themes/boilerplate'
    
%p
  The source code for this website is available on 
  = link_to 'GitHub', 'https://github.com/tekniklr/tekniklr.com'
  