- cache do 
  #ack
    %p
      The current iteration of this website is brought to you by:

    %ul
      %li
        = link_to 'HTML5 Boilerplate', 'http://html5boilerplate.com/'
      %li
        = link_to 'Rails', 'http://rubyonrails.org/'
      %li
        = link_to 'WordPress', 'http://wordpress.org/'
      %li
        The #{link_to 'Boilerplate wordpress theme', 'http://wordpress.org/extend/themes/boilerplate'}, from which #{link_to 'this wordpress theme', 'https://github.com/tekniklr/tekniklr.com-wordpress-theme'} was derived
      %li
        The #{link_to 'Alpha Flight', 'http://www.dafont.com/alpha-flight.font'} font (used in the banner) by #{link_to 'ck!', 'http://www.freakyfonts.de/'}
      %li
        Banksy acsii art by Banksy and #{link_to 'chris.com', 'http://www.chris.com/ascii/index.php?art=art%20and%20design/banksy' }
      %li
        #{link_to 'Helvetica', 'http://en.wikipedia.org/wiki/Helvetica'}, #{link_to 'kittens', '/wpblog/gallery/pics/Pets/cats/Dexter/'}, #{link_to 'Apple', 'http://apple.com'}, and #{link_to 'the color purple', 'http://en.wikipedia.org/wiki/Purple'}
    
    %p
      The source code is available on 
      = link_to 'GitHub', 'https://github.com/tekniklr/tekniklr.com'
  