- unless @blog_post.blank?
  #single_post
    %h1
      = link_to 'Blogs', "https://#{WPDOMAIN}/wpblog/"
    = render 'blog/post', post: @blog_post
    
- unless @tweets.blank?
  %h1
    = link_to 'Tweets', 'https://twitter.com/tekniklr'
  .tweet_block
    %ul#twitter
      - @tweets.each do |tweet|
        - begin
          = render 'tweet', tweet: tweet
        - rescue
          - # I don't actually care too much if a tweet couldn't be displayed- it's certainly not worth breaking the index page over.

- if !@flickr_photos.blank? && @flickr_photos.count > 1
  - fade_photos = 0
  .photos_block
    %h1
      = link_to 'Pictures', 'https://www.flickr.com/photos/tekniklr/'
    %ul#flickr
      - @flickr_photos.each do |photo|
        = render 'photo', photo: photo, fade: fade_level(@flickr_photos.count, fade_photos)
        - fade_photos += 1

- if !@gaming.blank? && @gaming.count > 1
  - fade_games = 0
  .games_block
    %h1
      Games
    %ul#gaming
      - @gaming.each do |item|
        = render 'gaming', item: item, fade: fade_level(@gaming.count, fade_games)
        - fade_games += 1

- if !@goodreads.blank? && @goodreads.count > 1
  - fade_books = 0
  .books_block
    %h1
      = link_to 'Books', 'https://www.goodreads.com/user/show/10905654-tekniklr'
    %ul#goodreads
      - @goodreads.each do |book|
        = render 'goodreads', book: book, fade: fade_level(@goodreads.count, fade_books)
        - fade_books += 1

- if !@lastfm.blank? && @lastfm.count > 1
  - fade_songs = 0
  .music_block
    %h1
      = link_to 'Music', 'https://www.last.fm/user/tekniklr'
    %ul#lastfm
      - @lastfm.each do |song|
        = render 'lastfm', song: song, fade: fade_level(@lastfm.count, fade_songs)
        - fade_songs += 1

#footnote