- unless @post.blank?
  %h1
    = link_to 'Blogs', '/wpblog'
  = render 'blog_post', :post => @post

%h1
  = link_to 'Tweets', 'http://twitter.com/tekniklr'
- @tweets.each do |tweet|
  = render 'tweet', :tweet => tweet
.right
  = link_to 'Follow @tekniklr', 'http://twitter.com/tekniklr', :class => 'twitter-follow-button', 'data-align' => 'right'

- unless @music.blank?
  - fade_music = 0
  %h1
    = link_to 'Listens', 'http://www.last.fm/user/tekniklr'
  %ul#lastfm
    - @music.each do |song|
      = render 'music', :song => song, :fade => fade_level(@music.count, fade_music)
      - fade_music += 1

- unless @xbox.blank?
  - fade_xbox = 0
  %h1
    = link_to 'Plays', 'http://live.xbox.com/en-US/MyXbox/Profile?gamertag=tekniklr'
  %ul#xbox
    - @xbox.each do |game|
      = render 'xbox', :game => game, :fade => fade_level(@xbox.count, fade_xbox)
      - fade_xbox += 1

- unless @consumption.blank?
  %h1
    = link_to 'Consumes', 'http://www.allconsuming.net/person/tekniklr/'
  #allconsuming
    - @consumption.each do |consumed|
      = render 'consumed', :consumed => consumed
    
- content_for :header do
  %link{:rel => "dns-prefetch", :href => "http://twitter.com"}/

- content_for :javascript do    
  %script{:type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js'}
