- unless @blog_post.blank?
  #single_post
    %h1
      = link_to 'Blog', "https://#{WPDOMAIN}/wpblog/"
    = render 'blog/post', post: @blog_post

- unless @toots.blank?
  %h1
    = link_to 'Toots', 'https://cybre.space/@tekniklr'
  .toot_block{class: 'show_scroll'}
    %ul#mastodon
      - @toots.each do |toot|
        - begin
          = render 'toot', toot: toot
        - rescue
          - # I don't care too much if a toot couldn't be displayed- it's certainly not worth breaking the index page over.
    :javascript
      $('a.toot_thumbnail').colorbox({
        scalePhotos: true,
        opacity: 0.9,
        maxHeight: '90%',
        maxWidth: '90%'
      });
    
- unless @tweets.blank?
  %h1
    = link_to 'Tweets', 'https://twitter.com/tekniklr'
  .tweet_block{class: 'show_scroll'}
    %ul#twitter
      - @tweets.each do |tweet|
        - begin
          = render 'tweet', tweet: tweet
        - rescue
          - # I don't care too much if a tweet couldn't be displayed- it's certainly not worth breaking the index page over.
    :javascript
      $('a.tweet_thumbnail').colorbox({
        scalePhotos: true,
        opacity: 0.9,
        maxHeight: '90%',
        maxWidth: '90%'
      });

- if !@gaming.blank? && @gaming.count > 1
  - fade_games = 0
  .games_block
    %h1
      Games
    %ul#gaming
      - @gaming.each do |item|
        = render 'gaming', item: item, fade: fade_level(@gaming.count, fade_games)
        - fade_games += 1

- if !@goodreads.blank? && @goodreads.count > 1
  - fade_books = 0
  .books_block
    %h1
      = link_to 'Books', 'https://www.goodreads.com/user/show/10905654-tekniklr'
    %ul#goodreads
      - @goodreads.each do |book|
        = render 'goodreads', book: book, fade: fade_level(@goodreads.count, fade_books)
        - fade_books += 1

- if !@lastfm.blank? && @lastfm.count > 1
  - fade_songs = 0
  .music_block
    %h1
      = link_to 'Music', 'https://www.last.fm/user/tekniklr'
    %ul#lastfm
      - @lastfm.each do |song|
        = render 'lastfm', song: song, fade: fade_level(@lastfm.count, fade_songs)
        - fade_songs += 1

#footnote