#front_page

  - unless @post.blank?
    %h1
      = link_to 'Blogs', '/wpblog'
    = render 'blog_post', :post => @post
      
  %h1
    = link_to 'Tweets', 'http://twitter.com/tekniklr'
  #twitter-widget
    <a class="twitter-timeline" data-dnt=true href="https://twitter.com/tekniklr" data-widget-id="256680555926654976">Tweets by @tekniklr</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  - unless @getglue.blank?
    %h1
      = link_to 'Plays / Reads / Watches / Listens', 'http://getglue.com/tekniklr'
    %ul#getglue
      - @getglue.each do |item|
        = render 'getglue', :item => item

  - unless @bookmarks.blank?
    - fade_bookmarks = 0
    %h1
      = link_to 'Bookmarks', 'http://www.delicious.com/tekniklr'
    %ul#delicious
      - @bookmarks.each do |bookmark|
        = render 'bookmark', :bookmark => bookmark, :fade => fade_level(@bookmarks.count, fade_bookmarks)
        - fade_bookmarks += 1

  - unless @lastfm.blank?
    %h1
      = link_to 'Scrobbles', 'http://www.last.fm/user/tekniklr'
    %ul#lastfm
      - @lastfm.each do |song|
        = render 'lastfm', :song => song

  #footnote
    
  - content_for :header do
    %link{:rel => "dns-prefetch", :href => "http://twitter.com"}/

  - content_for :javascript do    
    %script{:type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js'}
