= stylesheet_link_tag 'main'
= javascript_include_tag :main

- unless @tumblr.blank?
  %h1
    = link_to 'tumblr', "https://tekniklr.tumblr.com"
  #tumblr
    - @tumblr.each do |post|
      - begin
        = render 'tumblr', post: post
      - rescue => exception
        - logger.error exception

- unless @skeets.blank?
  %h1
    = link_to 'Skeets', "https://bsky.app/profile/tekniklr.bsky.social"
  .skeet_block{class: 'show_scroll'}
    %ul#bluesky
      - @skeets.each_with_index do |skeet, index|
        - begin
          = render 'skeet', skeet: skeet, index: index
        - rescue => exception
          - logger.error exception

- unless @toots.blank?
  %h1
    = link_to 'Toots', "#{Rails.application.credentials.mastodon[MASTODON][:url]}/@tekniklr"
  .toot_block{class: 'show_scroll'}
    %ul#mastodon
      - @toots.each do |toot|
        - begin
          = render 'toot', toot: toot
        - rescue => exception
          - logger.error exception
      = javascript_tag nonce: true do
        :plain
          $('a.toot_thumbnail').colorbox({
            scalePhotos: true,
            opacity: 0.9,
            maxHeight: '90%',
            maxWidth: '90%'
          });

- if !@gaming.blank? && @gaming.size > 1
  - fade_games = 0
  - games = @gaming.first(9)
  .games_block
    %h1
      Games
    %ul#gaming
      - games.each do |game|
        = render 'gaming', game: game, fade: fade_level(games.size, fade_games)
        - fade_games += 1

- if !@letterboxd.blank? && @letterboxd.size > 1
  - fade_movies = 0
  - movies = @letterboxd.first(9)
  .movies_block
    %h1
      = link_to 'movies', 'https://letterboxd.com/tekniklr/'
    %ul#letterboxd
      - movies.each do |movie|
        = render 'letterboxd', movie: movie, fade: fade_level(movies.size, fade_movies)
        - fade_movies += 1

- if !@goodreads.blank? && @goodreads.size > 1
  - fade_books = 0
  - books = @goodreads.first(9)
  .books_block
    %h1
      = link_to 'Books', 'https://www.goodreads.com/user/show/10905654-tekniklr'
    %ul#goodreads
      - books.each do |book|
        = render 'goodreads', book: book, fade: fade_level(books.size, fade_books)
        - fade_books += 1

- if !@lastfm.blank? && @lastfm.size > 1
  - fade_songs = 0
  - songs = @lastfm.first(13)
  .music_block
    %h1
      = link_to 'Music', 'https://www.last.fm/user/tekniklr'
    %ul#lastfm
      - songs.each do |song|
        = render 'lastfm', song: song, fade: fade_level(songs.size, fade_songs)
        - fade_songs += 1

#footnote