#front_page

  - unless @post.blank?
    %h1
      = link_to 'Blogs', '/wpblog'
    = render 'blog_post', :post => @post

  %h1
    = link_to 'Tweets', 'http://twitter.com/tekniklr'
  - @tweets.each do |tweet|
    = render 'tweet', :tweet => tweet
  .right
    = link_to 'Follow @tekniklr', 'http://twitter.com/tekniklr', :class => 'twitter-follow-button', 'data-align' => 'right'

  - unless @consumption.blank?
    %h1
      = link_to 'Consumes', 'http://www.allconsuming.net/person/tekniklr/'
    #allconsuming
      - @consumption.each do |consumed|
        = render 'consumed', :consumed => consumed

  - unless @music.blank?
    - fade_music = 0
    %h1
      = link_to 'Listens', 'http://www.last.fm/user/tekniklr'
    %ul#lastfm
      - @music.each do |song|
        = render 'music', :song => song, :fade => fade_level(@music.count, fade_music)
        - fade_music += 1

  - unless @bookmarks.blank?
    - fade_bookmarks = 0
    %h1
      = link_to 'Finds', 'http://www.delicious.com/tekniklr'
    %ul#delicious
      - @bookmarks.each do |bookmark|
        = render 'bookmark', :bookmark => bookmark, :fade => fade_level(@bookmarks.count, fade_bookmarks)
        - fade_bookmarks += 1

  #footnote
    
  - content_for :header do
    %link{:rel => "dns-prefetch", :href => "http://twitter.com"}/

  - content_for :javascript do    
    %script{:type => 'text/javascript', :src => 'http://platform.twitter.com/widgets.js'}
