= stylesheet_link_tag 'main'

- unless @blog_post.blank?
  #single_post
    %h1
      = link_to 'Blog', "https://#{WPDOMAIN}/"
    = render 'blog/post', post: @blog_post

- unless @skeets.blank?
  %h1
    = link_to 'Skeets', "https://bsky.app/profile/tekniklr.bsky.social"
  .skeet_block{class: 'show_scroll'}
    %ul#bluesky
      - @skeets.each_with_index do |skeet, index|
        - begin
          = render 'skeet', skeet: skeet, index: index
        - rescue => exception
          - logger.error exception

- unless @toots.blank?
  %h1
    = link_to 'Toots', "#{Rails.application.credentials.mastodon[MASTODON][:url]}/@tekniklr"
  .toot_block{class: 'show_scroll'}
    %ul#mastodon
      - @toots.each do |toot|
        - begin
          = render 'toot', toot: toot
        - rescue => exception
          - logger.error exception
      = javascript_tag nonce: true do
        :plain
          $('a.toot_thumbnail').colorbox({
            scalePhotos: true,
            opacity: 0.9,
            maxHeight: '90%',
            maxWidth: '90%'
          });

- if !@gaming.blank? && @gaming.size > 1
  - fade_games = 0
  .games_block
    %h1
      Games
    %ul#gaming
      - @gaming.each do |item|
        = render 'gaming', item: item, fade: fade_level(@gaming.size, fade_games)
        - fade_games += 1

- if !@goodreads.blank? && @goodreads.size > 1
  - fade_books = 0
  .books_block
    %h1
      = link_to 'Books', 'https://www.goodreads.com/user/show/10905654-tekniklr'
    %ul#goodreads
      - @goodreads.each do |book|
        = render 'goodreads', book: book, fade: fade_level(@goodreads.size, fade_books)
        - fade_books += 1

- if !@lastfm.blank? && @lastfm.size > 1
  - fade_songs = 0
  .music_block
    %h1
      = link_to 'Music', 'https://www.last.fm/user/tekniklr'
    %ul#lastfm
      - @lastfm.each do |song|
        = render 'lastfm', song: song, fade: fade_level(@lastfm.size, fade_songs)
        - fade_songs += 1

#footnote