= form_for(@tabletop_game) do |f|
  - if @tabletop_game.errors.any?
    #error_explanation
      %h2 #{pluralize(@tabletop_game.errors.count, "error")} prohibited this game from being saved:
      %ul
        - @tabletop_game.errors.full_messages.each do |msg|
          %li #{msg}

  .row
    .left
      = f.label :image
    .right
      = f.file_field :image
      - if f.object.image?
        = image_tag f.object.image.url(:default), alt: f.object.name
    .clear

  .row
    .left
      = f.label :name
    .right
      = f.text_field :name, :size => 48
    .clear

  .row
    .left
      = f.label :players
    .right
      = f.text_field :players, :size => 48
    .clear

  .row
    .left
      = f.label :bgg_url, 'BoardGameGeek'
    .right
      = f.text_field :bgg_url, :size => 48
    .clear

  .row
    .left
      = f.label :other_info
    .right
      = f.text_area :other_info, :rows => 5
    .clear

  .row
    .left
      = f.label :expansions
    .right
      = f.text_area :expansions, :rows => 5
    .clear

  .centered
    = f.submit