:ruby
  maxest_player_max = tabletop_games.collect{|t| t.players_max.to_i || -1}.max

%div{id: "tabletop_loading"}
  Loading information for #{tabletop_games.size} games(s)...

%div{id: "tabletop_loaded", class: 'hidden'}
  - filter_threshold = 3
  - col_count = 0
  - skipped_columns = []
  - filter_columns = []
  - sort_column = 0
  %table.table.table-striped{id: "tabletop_table", class: 'display'}
    - if tabletop_games.size > filter_threshold
      %tfoot.header-group
        %tr
          %th
            - # game image and name
          %th{colspan: 2}
            - # players
            - # info and expansions, but in colspan
          - if logged_in?
            %td
              - # management

    %thead
      %tr
        %th
          Game
          - sort_column = col_count
          - col_count += 1
        %th
          Players
          - filter_columns << col_count
          - col_count += 1
        %th
          Info
          - skipped_columns << col_count
          - col_count += 1
        - if logged_in?
          %td
            - skipped_columns << col_count
            - col_count += 1

    %tbody
      - tabletop_games.sort_by{|t| t.name}.each do |tabletop_game|
        %tr
          %td.game_name{'data-order': tabletop_game.name}
            - if tabletop_game.image?
              .game_image
                = image_tag tabletop_game.image.url(:thumb), alt: tabletop_game.name, class: "tabletop_thumb", id: "opener_tabletop_#{tabletop_game.id}_img"
            = link_to tabletop_game.name, '#', id: "opener_tabletop_#{tabletop_game.id}_name"
          :ruby
            filter_array = (tabletop_game.players_min.to_i..(tabletop_game.players_max ? tabletop_game.players_max.to_i : maxest_player_max)).to_a
            filter_string = ","+filter_array.join(',')+","
            tabletop_game.players_max or filter_string += "-1,"
          %td.player_count{'data-filter': filter_string, 'data-filter-min': tabletop_game.players_min, 'data-filter-max': tabletop_game.players_max}
            = tabletop_game.players
          %td.game_info
            .game_desc
              = simple_format tabletop_game.other_info
            - if !tabletop_game.expansions.blank?
              .expansions
                - expansions = tabletop_game.expansions.split( /\r?\n/ )
                .expansion_heading
                  Expansions
                %ul
                  - expansions.each do |expansion|
                    %li #{expansion}
            - if !tabletop_game.bgg_url.blank?
              .game_bgg
                = link_to 'See on BoardGameGeek', tabletop_game.bgg_url
          - if logged_in?
            %td
              %p
                = link_to 'edit', edit_tabletop_game_path(tabletop_game)
              %p
                = link_to 'destroy', tabletop_game, method: :delete, data: { confirm: "Are you sure you want to remove #{tabletop_game.name}?" }
        %dialog.fixed.game_details{id: "dialog_tabletop_#{tabletop_game.id}", title: tabletop_game.name}
          - if tabletop_game.image?
            .game_image
              = image_tag tabletop_game.image.url(:default), alt: tabletop_game.name
          .game_detail
            .game_name
              = tabletop_game.name
            - if !tabletop_game.players.blank?
              .game_players
                #{tabletop_game.players} players
            - if !tabletop_game.other_info.blank?
              .game_info
                = simple_format tabletop_game.other_info
            - if !tabletop_game.expansions.blank?
              .game_expansions
                %strong Expansions:
                - expansions = tabletop_game.expansions.split( /\r?\n/ )
                %ul
                  - expansions.each do |expansion|
                    %li #{expansion}
            - if !tabletop_game.bgg_url.blank?
              .game_bgg
                = link_to 'See on BoardGameGeek', tabletop_game.bgg_url
          = javascript_tag nonce: true do
            :plain
              var dialog_tabletop_#{tabletop_game.id} = document.querySelector("#dialog_tabletop_#{tabletop_game.id}");
              dialogPolyfill.registerDialog(dialog_tabletop_#{tabletop_game.id});
              $('#opener_tabletop_#{tabletop_game.id}_img').click(function(e) {
                dialog_tabletop_#{tabletop_game.id}.showModal();
                return false;
              });
              $('#opener_tabletop_#{tabletop_game.id}_name').click(function(e) {
                dialog_tabletop_#{tabletop_game.id}.showModal();
                return false;
              });
              const updateBackdrop_tabletop_#{tabletop_game.id} = (ev) => {
                if (ev && ev.target !== dialog_tabletop_#{tabletop_game.id}) {
                  return;
                }
                dialog_tabletop_#{tabletop_game.id}.close();
              };
              dialog_tabletop_#{tabletop_game.id}.addEventListener('click', updateBackdrop_tabletop_#{tabletop_game.id});

= javascript_tag nonce: true do
  :plain
    $(document).ready(function() {
      $('#tabletop_table').DataTable({
        "searching": #{(tabletop_games.size > filter_threshold) ? 'true' : 'false'},
        "stateSave": false,
        "order": [[#{sort_column}, 'asc']],
        "pageLength": 10,
        "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, 'All']],
        "paginate": false,
        "info": true,
        "bAutoWidth": true,
        "columnDefs": [
          {
            "targets": [#{skipped_columns.join(',')}],
            "orderable": false
          }
        ],
        "language": {
          "emptyTable":       "No tabletop games to show",
          "info":             "Showing _START_ to _END_ of _TOTAL_ tabletop games",
          "infoEmpty":        "Showing 0 to 0 of 0 tabletop games",
          "infoFiltered":     "(filtered from _MAX_ total tabletop games)",
          "infoPostFix":      "",
          "lengthMenu":       "Show _MENU_ tabletop games",
          "zeroRecords":      "No matching tabletop games found"
        },
        initComplete: function () { // column filters
          this.api().columns([#{filter_columns.join(',')}]).every( function () {
            var column = this;

            var select = $('<select id="players"><option value=""></option></select>').on( 'change', function () {
              var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
              );
              column
                .search( val ? ','+val+',' : '', true, false )
                .draw();
              console.log("filtering column to "+val);
            } );
            var label = $('<label for="players">Players </label>');
            select.appendTo( label );
            label.appendTo( $(column.footer()) );

            // grab unique min values and add to dropdown
            var uniqueNums = [];
            column.nodes().each(function(td) {
              var filterValue = $(td).data('filter-min');
              if (filterValue && uniqueNums.indexOf(filterValue) === -1) {
                uniqueNums.push(filterValue);
              }
            });

            // grab unique min and max values and add range to dropdown
            column.nodes().each(function(td) {
              var filterValue = $(td).data('filter-max');
              if (filterValue && uniqueNums.indexOf(filterValue) === -1) {
                uniqueNums.push(filterValue);
              }
            });
            var sorted = uniqueNums.sort(function(a, b) { return a - b; });
            var min = sorted[0];
            var max = sorted[sorted.length-1];
            for (let i = min; i <= max; i++) {
              console.log('Appending '+i);
              select.append('<option value="' + i + '">' + i + '</option>');
            }
            select.append('<option value="' + -1 + '">No max</option>');
          })
        }
      });

      $('#tabletop_loading').hide();
      $('#tabletop_loaded').show();
    });