= stylesheet_link_tag 'tabletop_games'

:ruby
  links = [
    link_to('remove game', @tabletop_game, method: :delete, data: { confirm: "Are you sure you want to remove #{@tabletop_game.name}?" }),
    link_to('view tabletop', tabletop_games_path)
  ]
= scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Recent game navigation')

%h1 Editing TableTop game

= render 'form'

= scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Recent game navigation')