= stylesheet_link_tag 'tabletop_games'

- if logged_in?
  :ruby
    links = [link_to('admin view', manage_tabletop_games_path)]
  = scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Tabletop navigation')

%h1 TableTop games

%ul#tabletop_list
  - cache [@tabletop_games] do
    - @tabletop_games.each do |tabletop_game|
      %li.tabletop_game
        .game_basic
          - if tabletop_game.image?
            .game_image
              = image_tag tabletop_game.image.url(:default), alt: tabletop_game.name, title: tabletop_game.name
          - else
            &nbsp;
        .game_detail
          .game_name
            = tabletop_game.name
          - if !tabletop_game.players.blank?
            .game_players
              #{tabletop_game.players} players
          - if !tabletop_game.other_info.blank?
            .game_info
              = simple_format tabletop_game.other_info
          - if !tabletop_game.expansions.blank?
            .game_expansions
              %strong Expansions:
              - expansions = tabletop_game.expansions.split( /\r?\n/ )
              %ul
                - expansions.each do |expansion|
                  %li #{expansion}
          - if !tabletop_game.bgg_url.blank?
            .game_bgg
              = link_to 'See on BoardGameGeek', tabletop_game.bgg_url, target: '_blank'

- if logged_in?
  :ruby
  = scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Tabletop navigation')