%h1 TableTop games

%p
  If you got the link to this page, it means I would like to play board games with you, and have offered my stash for your consideration. Yay! The games should link to Amazon, if you want to know more about them. I've also listed the expansions I have, where applicable.

%ul#tabletop_list
  - cache [@tabletop_games] do
    - @tabletop_games.each do |tabletop_game|
      %li.tabletop_game
        .game_basic
          - if tabletop_game.image?
            .game_image
              = image_tag tabletop_game.image.url(:default), alt: tabletop_game.name, title: tabletop_game.name
          .game_name
            = tabletop_game.name
          - if !tabletop_game.players.blank?
            .game_players
              #{tabletop_game.players} players
        .game_detail
          - if !tabletop_game.other_info.blank?
            .game_info
              = simple_format tabletop_game.other_info
          - if !tabletop_game.expansions.blank?
            .game_expansions
              %strong Expansions:
              - expansions = tabletop_game.expansions.split( /\r?\n/ )
              %ul
                - expansions.each do |expansion|
                  %li #{expansion}
          - if !tabletop_game.bgg_url.blank?
            .game_bgg
              = link_to 'See on BoardGameGeek', tabletop_game.bgg_url, target: '_blank'