= stylesheet_link_tag 'tabletop_games'
= javascript_include_tag :datatables

- if logged_in?
  :ruby
    links = [link_to('add tabletop game', new_tabletop_game_path)]
  = scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Tabletop navigation')

%h1 TableTop games

= render 'table', tabletop_games: @tabletop_games.each

- if logged_in?
  :ruby
  = scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Tabletop navigation')