= stylesheet_link_tag 'tabletop_games'
= javascript_include_tag :datatables

:ruby
  links = [
    link_to('public view', tabletop_games_path),
    link_to('add tabletop game', new_tabletop_game_path)
  ]
= scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Tabletop navigation')

%h1 
  Manage tableTop games

= render 'table', tabletop_games: @tabletop_games.each, type: 'admin'

= scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Tabletop navigation')