:ruby
  meta_description = ""
  image_urls = []
  @goty.goty_games.sorted.first(3).each_with_index do |gg, index|
    meta_description += "\##{index+1}: #{gg.game.name} \r\n"
    image_urls << URI.join(request.url, gg.game.image.url(:default))
  end

= content_for :meta do
  %meta{property: 'og:description', content: meta_description}/
  - image_urls.each do |image|
    %meta{property: 'og:image', content: image}/

= stylesheet_link_tag 'goty'

%h1
  = @page_title

%ol.goty_show
  - @goty.goty_games.sorted.first(@top_num).each do |gg|
    - gg.game.hidden? and next
    %li
      .goty_game{title: gg.game.name}
        .goty_image
          - if gg.game.image.present?
            = image_tag gg.game.image.url(:thumb), alt: gg.game.name
          - else
            = image_tag("game-controller.png", alt: 'placeholder image', width: 100, height: 100)
        .goty_info
          .goty_name
            = gg.game.name
          .goty_explanation
            = simple_format gg.explanation
          .goty_played
            Played:
            - if gg.game.started_playing.to_date > gg.game.created_at.to_date
              = gg.game.created_at.to_fs(:goty)
              \-
            = gg.game.started_playing.to_fs(:goty)