= form_for(@favorite) do |f|
  - if @favorite.errors.any?
    #error_explanation
      %h2 #{pluralize(@favorite.errors.size, "error")} prohibited this favorite from being saved:
      %ul
        - @favorite.errors.full_messages.each do |msg|
          %li #{msg}

  .row.mb-5
    .col-sm-3
      = f.label :favorite_type, class: 'form-label'
    .col-sm-9
      = f.text_field :favorite_type, class: 'form-control', required: true, autocomplete: 'off', data: {'1p-ignore': true}
      = f.hidden_field :sort

  = f.fields_for :favorite_things, @favorite.favorite_things.sorted do |ft|
    .row.mt-2.mb-2.pt-3.pb-3.thing_form
      .col-sm-2
        - if ft.object.image?
          = image_tag ft.object.image.url(:thumb), alt: ft.object.thing

      .col-sm-10
        .row.mb-1
          .col-sm-2
            = ft.label :thing, 'Thing name', class: 'form-label'
          .col-sm-10
            = ft.text_field :thing, class: 'form-control'

        .row.mb-1
          .col-sm-2
            = ft.label :sort, 'Sort order', class: 'form-label'
          .col-sm-10
            = ft.number_field :sort, class: 'form-control'

        .row.mb-1
          .col-sm-2
            = ft.label :link, class: 'form-label'
          .col-sm-10
            = ft.text_field :link, class: 'form-control'

        .row.mb-1
          .col-sm-2
            = ft.label :image, class: 'form-label'
          .col-sm-10
            = ft.file_field :image, class: 'form-control'

        - unless ft.object.new_record?
          .row.mb-1
            .col-sm-10
            .col-sm-2
              .form-check
                = ft.label '_destroy', 'Remove', class: 'form-check-label'
                = ft.check_box '_destroy', class: 'form-check-input'
          
  .centered
    = f.submit (f.object.new_record? ? 'Add' : 'Update')+' favorite', class: 'btn btn-primary'