= form_for(@favorite) do |f|
  - if @favorite.errors.any?
    #error_explanation
      %h2 #{pluralize(@favorite.errors.size, "error")} prohibited this favorite from being saved:
      %ul
        - @favorite.errors.full_messages.each do |msg|
          %li #{msg}

  %p
    = f.label :favorite_type
    = f.text_field :favorite_type, size: 36
    = f.hidden_field :sort

  .things_edit
    = f.fields_for :favorite_things, @favorite.favorite_things.sorted do |ft|
      .thing_form
        .thing_image
          - if ft.object.image?
            = image_tag ft.object.image.url(:thumb), alt: ft.object.thing

        .thing_fields
          .row
            = ft.label :thing, 'Thing name'
            = ft.text_field :thing, size: 20

            = ft.label :sort, 'Sort order'
            = ft.number_field :sort, class: 'sort'

          .row
            = ft.label :link
            = ft.text_field :link, size: 30

          .row
            = ft.label :image
            = ft.file_field :image

          - unless ft.object.new_record?
            .row
              = ft.label '_destroy', 'Remove'
              = ft.check_box '_destroy'
          
  .centered
    = f.submit