= stylesheet_link_tag 'favorites'

:ruby
  links = [
    link_to('remove favorite', @favorite, data: { confirm: "Are you sure you want to delete your #{@favorite.favorite_type} favorites?" }, method: :delete, remote: true),
    link_to('view favorites', favorites_path)
  ]
= scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Favorites navigation')

%h2 Editing favorite

= render 'form'

= scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Favorites navigation')
