%h1 Current favorites

%ol#sort_favorites
  - @favorites.each do |favorite|
    %li
      %span.drag ≡
      %strong #{favorite.favorite_type}
      %ol
        - favorite.favorite_things.each do |thing|
          %li 
            = thing.link ? link_to(thing.thing, thing.link) : thing.thing
      .list_manage
        = link_to 'Sort', favorite
        |
        = link_to 'Change', edit_favorite_path(favorite)
        |
        = link_to('Destroy', favorite, :data => { :confirm => "Are you sure you want to delete your #{favorite.favorite_type} favorites?" }, :method => :delete, :remote => true)

.center
  = link_to 'New Favorite', new_favorite_path
