%h2 Listing favorites

%table.manage
  %tr
    %th #
    %th Type
    %th{colspan:3}

  - @favorites.each do |favorite|
    %tr
      %td{rowspan:2} #{favorite.sort}
      %td #{favorite.favorite_type}
      %td{rowspan:2}
        = link_to 'Show', favorite
      %td{rowspan:2}
        = link_to 'Edit', edit_favorite_path(favorite)
      %td{rowspan:2}
        = link_to('Destroy', favorite, confirm: "Are you sure you want to delete your #{favorite.favorite_type} favorites?", :method => :delete)
    %tr
      %td
        %ol
          - favorite.favorite_things.each do |thing|
            %li #{thing.thing}

.center
  = link_to 'New Favorite', new_favorite_path
