= stylesheet_link_tag 'favorites'

:ruby
  links = [
    link_to('edit things', edit_favorite_path(@favorite)),
    link_to('favorites list', favorites_path)
  ]
= scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Favorites navigation')

%h1
  Favorite Type: #{@favorite.favorite_type}
%ol#sort_things
  - @favorite.favorite_things.sorted.each do |thing|
    %li.item_drag{id: "thing_#{thing.id}", 'data-id': thing.id}
      %span.drag
        = image_tag 'drag-indicator.svg', alt: 'drag to reorder', width: 50, height: 50
      = thing.link ? link_to(thing.thing, thing.link) : thing.thing

= scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Favorites navigation')

= javascript_include_tag :favorites