%h1
  Favorite Type: #{@favorite.favorite_type}
%ol#sort_things
  - @favorite.favorite_things.each do |thing|
    %li.item_drag{id: "thing_#{thing.id}", 'data-id': thing.id}
      %span.drag ↕️
      = thing.link ? link_to(thing.thing, thing.link) : thing.thing

.centered
  = link_to 'Change', edit_favorite_path(@favorite)
  |
  = link_to 'Show all', favorites_path

= javascript_include_tag :favorites