%h2
  Favorite Type #{@favorite.sort}: #{@favorite.favorite_type}
%ol#sort_things
  - @favorite.favorite_things.each do |thing|
    = content_tag_for :li, thing do
      %span.drag ≡
      = thing.link ? link_to(thing.thing, thing.link) : thing.thing

.center
  = link_to 'Edit', edit_favorite_path(@favorite)
  |
  = link_to 'List', favorites_path
