<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @favorite.favorite_type %>
</p>

<p>
  <b>Order:</b>
  <%= @favorite.order %>
</p>


<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
