- if facet.errors.any?
  #error_explanation
    %h2 #{pluralize(facet.errors.size, "error")} prohibited this facet from being saved:
    %ul
      - facet.errors.full_messages.each do |msg|
        %li #{msg}

.row.mb-3
  .col-sm-2
    = f.label :name, class: 'form-label'
  .col-sm-10
    = f.text_field :name, class: 'form-control'

.row.mb-3
  .col-sm-2
    = f.label :slug, class: 'form-label'
  .col-sm-10
    - if facet.slug
      %strong #{facet.slug}
    - else
      = f.text_field :slug, class: 'form-control'

.row.mb-3
  .col-sm-2
    = f.label :value, class: 'form-label'
  .col-sm-10.large_textarea
    = f.text_area :value, class: 'form-control'