= stylesheet_link_tag 'facets'

- if @facets && @facets.size > 0
  %h1 Current facets
  #facets
    - @facets.each do |facet|
      .facet
        = render 'show', facet: facet

- if @facet
  %h1 New facet
  #notification
  = form_for :facet, html: {id: 'new_facet'}, remote: true do
    %div.facet#facet
      = fields_for @facet do |create|
        = render 'form', f: create, facet: @facet
    .centered
      = submit_tag "Add", class: 'btn btn-primary'
