%footer#pagefoot
  .footnote
    = @footnote and sanitize @footnote, :tags => %w(a p)
    = yield :footnote
  %p
    copyleft © 2000-#{Time.now.year}
    = mail_to EMAIL, 'Teri Solow'
  %p
    = link_to '~ ack ~', acknowledgments_url