%meta{:charset => "utf-8"}/

- unless @wpblog
  %title
    - unless @page_title.blank?
      #{@page_title} ~ 
    tekniklr.com 

%meta{:name => "description", :content => ""}/
%meta{:name => "author", :content => ""}/

%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
%link{:rel => "shortcut icon", :href => "/favicon.ico"}/
= stylesheet_link_tag :application

= csrf_meta_tag

= javascript_include_tag 'modernizr-1.7.min.js'

= yield :header