- unless @wpblog
  - if logged_in? 
    #admin
      Logged in as #{current_user.name}
      ☣
      = link_to 'gaming', new_recent_game_path
      ☣
      = link_to 'links', links_path
      ☣
      = link_to 'tabletop', manage_tabletop_games_path
      ☣
      = link_to 'favorites', favorites_path
      ☣
      = link_to 'facets', facets_path
      ☣
      = link_to 'experiences', experiences_path
      ☣
      = link_to 'wpadmin', '/wpblog/wp-admin/'
      ☣
      = link_to 'clean cache', clean_cache_path
      ☣
      = link_to 'logout', logout_path
%header#pagehead{:role => 'banner'}
  #banner
    = link_to image_tag("tekniklr_com.png", :alt => DOMAIN, :width => 283, :height => 34), root_url
  #tagline #{TAGLINE}