- unless @wpblog
  - if logged_in? 
    #admin
      Logged in as #{current_user.name}
      ☣
      = link_to 'links', links_path
      ☣
      = link_to 'favorites', favorites_path
      ☣
      = link_to 'facets', facets_path
      ☣
      = link_to 'experiences', experiences_path
      ☣
      = link_to 'twitter', twitter_index_path
      ☣
      = link_to 'wpadmin', '/wpblog/wp-admin/'
      ☣
      = link_to 'logout', logout_path
%header#pagehead
  #banner
    = link_to image_tag("tekniklr.com_alpha_flight.png"), root_url
  #subtitle #{SUBTITLE}
