%ul
  %li
    = link_to 'about', about_url
  %li
    = link_to 'pictures', 'http://www.flickr.com/photos/tekniklr/'
  %li
    = link_to 'programs', 'http://github.com/tekniklr'
  %li
    = link_to 'blog', '/wpblog'
  %li
    = form_tag '/wpblog', :method => 'get', :id => 'wp_search', :role => 'search' do
      = text_field_tag :s