%li
  = link_to 'archive', '/wpblog/archives/'
%li
  = link_to 'tags', '/wpblog/tag-cloud/'
%li
  = link_to 'categories', '/wpblog/categories/'
%li
  = form_tag '/wpblog', :method => 'get', :id => 'wp_search', :role => 'search' do
    = text_field_tag :s