#navigation
  %ul
    %li
      = link_to 'about', about_url
    %li
      = link_to 'résumé', resume_url
    %li
      = link_to 'blog', '/wpblog/'
    %li
      = link_to 'gallery', '/wpblog/gallery/'
    %li
      = link_to 'programs', 'http://github.com/tekniklr'
  - if @wpblog
    %ul.subnav
      %li
        = link_to 'rss', '/wpblog/feed/'
      %li
        = link_to 'categories', 'wp_categories_url'
      %li
        = link_to 'tags', 'wp_tags_url'
      %li
        = link_to 'archive', 'wp_archive_url'
      %li
        = form_tag '/wpblog', :method => 'get', :id => 'wp_search' do
          = text_field_tag :s
  .break