#hresume
  %address.vcard
    .fn #{@resume_name}
    %div
      = mail_to @resume_email.value, @resume_email.value, class: :email, target: '_blank'
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      %span.adr
        %span.locality
          portland
        , 
        %span.region
          oregon
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      = link_to @resume_url.value, @resume_url.value, class: :url, target: '_blank'
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  %dl
    - if @tech
      %dt.skill #{@tech.name}
      %dd
        = facet_value @tech.value

    - if @fun_dev
      %dt.experience #{@fun_dev.name}
      %dd
        = facet_value @fun_dev.value, true, 'vcalendar', 'experience vevent'

    - cache @experiences do
      - if @experiences
        %dt.experience Professional experience
        %dd
          %ul.vcalendar#exp
            - @experiences.each do |experience|
              %li{class: 'experience vevent'}
                .left
                  %strong.summary #{experience.title}
                  %br
                  %em.location
                    = experience.affiliation_link ? link_to(experience.affiliation, experience.affiliation_link, target: '_blank'): experience.affiliation
                .right
                  %span.dtstart{title: experience.start_date.to_formatted_s(:standard)} #{experience.start_date.to_formatted_s(:resume_date)}
                  \~
                  %span.dtend{title: experience.end_date ? experience.end_date.to_formatted_s(:standard) : ''} #{experience.end_date ? experience.end_date.to_formatted_s(:resume_date) : "present"}
                  %br
                  #{experience.location}
                .clear
                - if !experience.tasks.blank?
                  %ul
                    - experience.tasks.split("\n").each do |task|
                      %li
                        = sanitize task, tags: %w(a strong em u), attributes: %w(href target name title src alt class)
  
    - if @publications
      %dt.publications #{@publications.name}
      %dd
        = facet_value @publications.value, true
  
    - if @education
      %dt.education #{@education.name}
      %dd
        = facet_value @education.value, true, 'vcalendar', 'education vevent'
  
    - if @activities
      %dt.affiliation #{@activities.name}
      %dd
        = facet_value @activities.value, true, '', 'affiliation vcard'