- cache do 
  
  #hresume
    %address.vcard
      .fn Teri Solow
      .adr
        %span.locality Portland,
        %span.region OR
      %div
        = mail_to EMAIL, EMAIL, :class => :email
      %div
        = link_to 'http://teniklr.com', 'http://teniklr.com', :class => :url

    %dl
      - if @tech
        %dt.skill #{@tech.name}
        %dd
          = facet_value @tech.value
  
      - if @fun_dev
        %dt.experience #{@fun_dev.name}
        %dd
          = facet_value @fun_dev.value, true, 'vcalendar', 'experience vevent'
  
      - if @experiences
        %dt.experience Professional experience
        %dd
          %ul.vcalendar#exp
            - @experiences.each do |experience|
              %li{:class => 'experience vevent'}
                .left
                  %p
                    %strong.summary #{experience.title}
                  %p
                    %em.location
                      = experience.affiliation_link ? link_to(experience.affiliation, experience.affiliation_link): experience.affiliation
                .right
                  %p
                    %span.dtstart{:title => experience.start_date.strftime("%F")} #{experience.start_date.strftime("%Y/%m")}
                    \~
                    %span.dtend{:title => experience.end_date ? experience.end_date.strftime("%F") : ''} #{experience.end_date ? experience.end_date.strftime("%Y/%m") : "present"}
                  %p #{experience.location}
                .clear
                - if !experience.tasks.blank?
                  %ul
                    - experience.tasks.split("\n").each do |task|
                      %li
                        = sanitize task, :tags => %w(a strong em u)
    
      - if @publications
        %dt.publications #{@publications.name}
        %dd
          = facet_value @publications.value, true
    
      - if @education
        %dt.education #{@education.name}
        %dd
          = facet_value @education.value, true, 'vcalendar', 'education vevent'
    
      - if @activities
        %dt.affiliation #{@activities.name}
        %dd
          = facet_value @activities.value, true, '', 'affiliation vcard'
        
  -content_for :footnote do
    %p
      provided in the #{link_to 'hresume', 'http://microformats.org/wiki/hresume'} #{link_to 'microformat', 'http://microformats.org/'}
    %p
      = link_to 'view outside layout', resume_clean_url