- if experience.errors.any?
  #error_explanation
    %h2 #{pluralize(experience.errors.size, "error")} prohibited this experience from being saved:
    %ul
      - experience.errors.full_messages.each do |msg|
        %li #{msg}

.row.mb-3
  .col-sm-3
    = f.label :title, 'Job title', class: 'form-label'
  .col-sm-9
    = f.text_field :title, class: 'form-control'
  
.row.mb-3
  .col-sm-3
    = f.label :affiliation, 'Workplace', class: 'form-label'
  .col-sm-9
    = f.text_field :affiliation, class: 'form-control'

.row.mb-3
  .col-sm-3
    = f.label :affiliation_link, 'Link', class: 'form-label'
  .col-sm-9
    = f.text_field :affiliation_link, class: 'form-control'

.row.mb-3
  .col-sm-3
    = f.label :location, class: 'form-label'
  .col-sm-9
    = f.text_field :location, class: 'form-control'
  
.row.mb-3
  .col-sm-3
    = f.label :start_date, class: 'form-label'
  .col-sm-9
    = f.date_field :start_date, class: 'form-control'
   
.row.mb-3
  .col-sm-3
    = f.label :end_date, class: 'form-label'
  .col-sm-9
    = f.date_field :end_date, class: 'form-control'
  
.row.mb-3
  .col-sm-3
    = f.label :tasks, class: 'form-label'
  .col-sm-9.large_textarea
    = f.text_area :tasks, class: 'form-control'