- if experience.errors.any?
  #error_explanation
    %h2 #{pluralize(experience.errors.count, "error")} prohibited this experience from being saved:
    %ul
      - experience.errors.full_messages.each do |msg|
        %li #{msg}

.row
  .left
    = f.label :title
  .right
    = f.text_field :title, :size => 48
  .clear
  
.row
  .left
    = f.label :affiliation
  .right
    = f.text_field :affiliation, :size => 48
  .clear

.row
  .left
    = f.label :affiliation_link
  .right
    = f.text_field :affiliation_link, :size => 48
  .clear

.row
  .left
    = f.label :location
  .right
    = f.text_field :location, :size => 48
  .clear
  
.row
  .left
    = f.label :start_date
  .right
    = date_select :experience, :start_date, :start_year => 2000, :discard_day => true
  .clear
   
.row
  .left
    = f.label :end_date
  .right
    = date_select :experience, :end_date, :start_year => 2000, :discard_day => true, :include_blank => true
  .clear
  
.row
  .left
    = f.label :tasks
  .right
    = f.text_area :tasks, :cols => 46, :rows => 13
  .clear