- if experience.errors.any?
  #error_explanation
    %h2 #{pluralize(experience.errors.size, "error")} prohibited this experience from being saved:
    %ul
      - experience.errors.full_messages.each do |msg|
        %li #{msg}

.row
  .left
    = f.label :title, 'Job title'
  .right
    = f.text_field :title, size: 48
  .clear
  
.row
  .left
    = f.label :affiliation, 'Workplace'
  .right
    = f.text_field :affiliation, size: 48
  .clear

.row
  .left
    = f.label :affiliation_link, 'Link'
  .right
    = f.text_field :affiliation_link, size: 48
  .clear

.row
  .left
    = f.label :location
  .right
    = f.text_field :location, size: 48
  .clear
  
.row
  .left
    = f.label :start_date
  .right
    = f.date_field :start_date
  .clear
   
.row
  .left
    = f.label :end_date
  .right
    = f.date_field :end_date
  .clear
  
.row
  .left
    = f.label :tasks
  .right
    = f.text_area :tasks, cols: 46, rows: 13
  .clear