- if @experiences && @experiences.count > 0
  %h2 Current experiences
  #experiences
  - @experiences.each do |experience|
    = render 'show', :experience => experience

- if @experience
  %h2 New experience
  #notification
  = form_for :experience, :html => {:id => 'new_exp'}, :remote => true do    
    %div.experience#experience
      = fields_for @experience do |create|
        = render 'form', :f => create, :experience => @experience  
    .center
      = submit_tag "Add"
