= form_for :experience do |f|
  
  - @experiences.each do |experience|
    %div[experience]
      = fields_for "experiences[]", experience do |update|
        = render 'form', :f => update
        = link_to('Delete', link, confirm: "Are you sure you want to delete #{experience.title}?", :method => :delete)
      
  - Experience.new do |newexp|
    %div#newexp
      = fields_for :newexp do |create|
        = render 'form', :f => create
  
  .center
    = submit_tag "Add / Update"
