- if @experiences && @experiences.count > 0
  %h2 Current experiences
  - @experiences.each do |experience|
    %div.experience[experience]
      = render 'show', :experience => experience
      .center
        = link_to 'Edit', edit_experience_path(experience)
        = link_to('Delete', experience, confirm: "Are you sure you want to delete #{experience.title} @ #{experience.affiliation}?", :method => :delete)

- if @experience
  %h2 New experience
  = form_for :experience do    
    %div.experience#experience
      = fields_for @experience do |create|
        = render 'form', :f => create, :experience => @experience  
    .center
      = submit_tag "Add"
