= stylesheet_link_tag 'links'

- if @links && @links.size > 0
  %h1 Current links
  = form_tag update_all_links_path, multipart: true, method: :patch do
    #links
      - @links.each do |link|
        = render 'link', link: link
    .centered
      = submit_tag "Update all"

- if @link
  %h1 New Link
  #notification
  = form_for :link, html: {id: 'new_link', multipart: true}, remote: true do
    %div.link#link
      = fields_for @link do |create|
        = render 'form', f: create, link: @link
    .centered
      = submit_tag "Add"