= form_for(@recent_game) do |f|
  - if @recent_game.errors.any?
    #error_explanation
      %h2 #{pluralize(@recent_game.errors.size, "error")} prohibited this game from being saved:
      %ul
        - @recent_game.errors.full_messages.each do |msg|
          %li #{msg}

  .row.mb-3
    .col-sm-2
      = f.label :name, class: 'form-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control', required: true, autocomplete: 'off', data: {'1p-ignore': true}

  .row.mb-3
    .col-sm-2
      = f.label :platform, class: 'form-label'
    .col-sm-10
      = f.select :platform, RecentGame::PLATFORMS, {}, class: 'form-select', required: true

  .row.mb-3
    .col-sm-2
      = f.label :last_played, 'Played', class: 'form-label'
    .col-sm-10
      = f.datetime_field :last_played, default: Time.now, class: 'form-control', required: true

  .row.mb-3
    .col-sm-2
      = f.label :release_year, 'Release year', class: 'form-label'
    .col-sm-10
      = f.number_field :release_year, class: 'year', class: 'form-control'

  .row.mb-3
    .col-sm-2
      = f.label :url, class: 'form-label'
    .col-sm-10
      = f.text_field :url, class: 'form-control'

  .row.mb-3
    .col-sm-2
      = f.label :hidden, 'Hidden?', class: 'form-check-label'
    .col-sm-10
      .form-switch
        = f.check_box :hidden, class: 'form-check-input', role: 'switch'

  .row.mb-3
    .col-sm-2
      = f.label :image, class: 'form-label'
    .col-sm-10
      = f.file_field :image, class: 'form-control'
      %br
      - if @recent_game.image?
        = image_tag @recent_game.image.url(:default), alt: @recent_game.name

  .centered
    = f.submit submit_label, class: 'btn btn-primary'