:ruby
  possible_platforms = [
    'PS5',
    'PS4',
    'Switch',
    '3DS',
    'GBA',
    'SNES',
    'NES',
    'Xbox Series X/S',
    'Xbox One',
    'Xbox 360',
    'Xbox',
    'Steam',
    'Mac',
    'the internet',
    'iOS'
  ]

= form_for(@recent_game) do |f|
  - if @recent_game.errors.any?
    #error_explanation
      %h2 #{pluralize(@recent_game.errors.count, "error")} prohibited this game from being saved:
      %ul
        - @recent_game.errors.full_messages.each do |msg|
          %li #{msg}

  .row
    .left
      = f.label :name
    .right
      = f.text_field :name, :size => 36
    .clear

  .row
    .left
      = f.label :platform
    .right
      = f.select :platform, possible_platforms, include_blank: true
    .clear

  .row
    .left
      = f.label :started_playing, 'Started'
    .right
      = f.date_select :started_playing, default: Date.today
    .clear

  .row
    .left
      = f.label :url
    .right
      = f.text_field :url, :size => 36
    .clear

  .row
    .left
      = f.label :image
    .right
      = f.file_field :image
      %br
      - if @recent_game.image?
        = image_tag @recent_game.image.url(:default), alt: @recent_game.name
    .clear

  .center
    = f.submit submit_label