= stylesheet_link_tag 'recent_games'

%h1 Add a recent game

= render 'form', submit_label: "Add game"

%h1 Recent game history

- if @recent_games
  %ul#recent_games
    - @recent_games.each do |game|
      %li{class: game.hidden? ? 'hidden' : ''}
        .right
          = link_to 'edit', edit_recent_game_path(game)
        .left
          .gaming_image
            - if game.image?
              = image_tag game.image.url(:thumb), alt: game.name, align: 'left', hspace: 10
          .gaming_details
            .time
              = game.started_playing.to_formatted_s(:precise)
            .name
              = game.name
            .platform
              = game.platform
          - if game.achievement_name
            .gaming_achievement
              .achievement_name
                = game.achievement_name
              - if game.achievement_time
                .achievement_time
                  = game.achievement_time.to_formatted_s(:precise)
              - if game.achievement_desc
                .achievement_desc
                  = game.achievement_desc
        .right
          %p
            = link_to 'remove', game, :method => :delete, :data => { :confirm => "Are you sure you want to remove #{game.name}?" }
- else
  %p There haven't been any recent games added yet.