%h1 Add a recent game

= render 'form', submit_label: "Add game"

%h1 Recent game history

- if @recent_games
  %ul#recent_games
    - @recent_games.each do |game|
      %li
        .right
          = link_to 'edit', edit_recent_game_path(game)
        .left
          - if game.image?
            = image_tag game.image.url(:default), alt: game.name, align: 'left', hspace: 10
          #{game.started_playing.to_formatted_s}:
          %br
          #{game.name}
          %br
          %em #{game.platform}
        .right
          %p
            = link_to 'remove', game, :method => :delete, :data => { :confirm => "Are you sure you want to remove #{game.name}?" }
- else
  %p There haven't been any recent games added yet.