.vcard

  %h1 General Info

  .gravatar
    = image_tag "https://gravatar.com/avatar/#{@gravatar_id}.png?s=150", class: 'photo', alt: 'tekniklr'

  %dl.info
    - cache @interests do
      = facet_print @interests
    %dt Also available on
    %dd
      - cache @about_links do
        - @about_links.each do |link|
          - link == @about_links.last ? sep = '' : sep = ', '
          = link_to(link.name, link.url, target: '_blank') + sep
  
  %h1 Stuff I like
  %dl.favorites
    - @favorites.each do |favorite|
      %dt #{favorite.favorite_type}
      %dd.spacey
        %ul
          - favorite.favorite_things.each_with_index do |thing, index|
            %li
              = (!thing.link.blank? ? link_to(thing.thing, thing.link, target: '_blank', id: "opener_thing_#{thing.id}_text") : thing.thing)
              - if thing.image?
                %br
                - if thing.link.blank?
                  = image_tag(thing.image.url(:thumb), alt: thing.thing)
                - else
                  = link_to image_tag(thing.image.url(:thumb), alt: thing.thing), thing.link, target: '_blank', id: "opener_thing_#{thing.id}_img"
              %dialog.fixed{id: "dialog_thing_#{thing.id}", title: thing.thing}
                %h2 ##{index+1} favorite #{favorite.favorite_type.singularize}:
                - if thing.image?
                  .centered
                    - if thing.link.blank?
                      = image_tag(thing.image.url(:default), alt: thing.thing)
                    - else
                      = link_to(image_tag(thing.image.url(:default), alt: thing.thing), thing.link, target: '_blank')
                = (!thing.link.blank? ? link_to(thing.thing, thing.link, target: '_blank') : thing.thing)
                .centered
                  %button{id: "closer_thing_#{thing.id}"} close
              = javascript_tag nonce: true do
                :plain
                  var dialog_thing_#{thing.id} = document.querySelector("#dialog_thing_#{thing.id}");
                  dialogPolyfill.registerDialog(dialog_thing_#{thing.id});
                  $('#opener_thing_#{thing.id}_text').click(function(e) {
                    dialog_thing_#{thing.id}.showModal();
                    return false;
                  });
                  $('#opener_thing_#{thing.id}_img').click(function(e) {
                    dialog_thing_#{thing.id}.showModal();
                    return false;
                  });
                  $('#closer_thing_#{thing.id}').click(function(e) {
                    dialog_thing_#{thing.id}.close();
                    return false;
                  });
                  const updateBackdrop_thing_#{thing.id} = (ev) => {
                    if (ev && ev.target !== dialog_thing_#{thing.id}) {
                      return;
                    }
                    dialog_thing_#{thing.id}.close();
                  };
                  dialog_thing_#{thing.id}.addEventListener('click', updateBackdrop_thing_#{thing.id});