.vcard

  %h1 General Info

  .gravatar
    = image_tag "http://gravatar.com/avatar/#{@gravatar_id}.png?s=150", :class => 'photo', :alt => 'Teri Solow'

  %dl.info
    = facet_print @who
    = facet_print @definition, 'label'
    = facet_print @location, 'adr'
    = facet_print @tech
    = facet_print @interests
  
  %h1 Stuff I like
  %dl.favorites
    - @favorites.each do |favorite|
      %dt #{favorite.favorite_type}
      - if !favorite.favorite_things.any?{|t| @things && @things.keys.include?(t.thing)}
        %dd
          - favorite.favorite_things.each do |thing|
            - thing == favorite.favorite_things.last ? sep = '' : sep = '  ☆ '
            = (!thing.link.blank? ? link_to(thing.thing.chomp, thing.link) : thing.thing.chomp) + sep
      - else
        %dd.spacey
          %ul
            - favorite.favorite_things.each do |thing|
              %li{:class => (thing == favorite.favorite_things.last) ? '' : 'separated'}
                = (!thing.link.blank? ? link_to(thing.thing.chomp, thing.link) : thing.thing.chomp)
                - if @things[thing.thing]
                  %br
                  = link_to(image_tag(@things[thing.thing][:image_url], :alt => thing.thing.chomp, :title => thing.thing.chomp), @things[thing.thing][:amazon_url])
        
  %h1 Contact
  %dl.contact

    %dt Web
    %dd
      = link_to 'http://tekniklr.com', 'http://tekniklr.com', :class => "url"

    = facet_print @twitter

    = facet_print @messaging

    %dt Other sites
    %dd
      - @about_links.each do |link|
        - link == @about_links.last ? sep = '' : sep = ', '
        = link_to(link.name.chomp, link.url) + sep
    
#footnote
  %p
    provided in the #{link_to 'hcard', 'http://microformats.org/wiki/hcard'} #{link_to 'microformat', 'http://microformats.org/'}