.vcard

  %h1 General Info

  .gravatar
    = image_tag "http://gravatar.com/avatar/#{@gravatar_id}.png?s=150", class: 'photo', alt: 'tekniklr'

  %dl.info
    - cache @who do
      = facet_print @who
    - cache @location do
      = facet_print @location, 'adr'
    - cache @interests do
      = facet_print @interests
    - cache @twitter do
      = facet_print @twitter
    - cache @messaging do
      = facet_print @messaging
    %dt Also available on
    %dd
      - cache @about_links do
        - @about_links.each do |link|
          - link == @about_links.last ? sep = '' : sep = ', '
          = link_to(link.name, link.url, target: '_blank') + sep
  
  %h1 Stuff I like
  %dl.favorites
    - @favorites.each do |favorite|
      - cache [favorite.favorite_things] do
        %dt #{favorite.favorite_type}
        %dd.spacey
          %ul
            - favorite.favorite_things.each do |thing|
              %li{:class => (thing == favorite.favorite_things.last) ? '' : 'separated'}
                = (!thing.link.blank? ? link_to(thing.thing, thing.link, target: '_blank') : thing.thing)
                - if thing.image?
                  %br
                  - if thing.link.blank?
                    = image_tag(thing.image.url(:default), alt: thing.thing)
                  - else
                    = link_to(image_tag(thing.image.url(:default), alt: thing.thing), thing.link, target: '_blank')
                      