%h1 Contact
%dl.contact

  %dt Email
  %dd
    = mail_to EMAIL

  - if @twitter
    %dt #{@twitter.name}
    %dd
      = facet_value @twitter.value

  - if @messaging
    %dt #{@messaging.name}
    %dd
      = facet_value @messaging.value
  
  %dt Other sites
  %dd
    - @about_links.each do |link|
      - link == @about_links.last ? sep = '' : sep = ', '
      = link_to(link.name.chomp, link.url) + sep

%h1 General Info
%dl.info
  - if @definition
    %dt #{@definition.name}
    %dd
      = facet_value @definition.value
  - if @location
    %dt #{@location.name}
    %dd
      = facet_value @location.value
  - if @tech
    %dt #{@tech.name}
    %dd
      = facet_value @tech.value
  - if @interests
    %dt #{@interests.name}
    %dd
      = facet_value @interests.value
    
%h1 Stuff I like
%dl.favorites
  - @favorites.each do |favorite|
    %dt #{favorite.favorite_type}
    %dd
      - favorite.favorite_things.each do |thing|
        - thing == favorite.favorite_things.last ? sep = '' : sep = '  ☆ '
        = (thing.link ? link_to(thing.thing.chomp, thing.link) : thing.thing.chomp) + sep