%li
  Logged in as #{current_user.name} 
%li
  = link_to 'gaming', new_recent_game_path
%li
  = link_to 'goty', edit_goty_path
%li
  = link_to 'links', links_path
%li
  = link_to 'tabletop', manage_tabletop_games_path
%li
  = link_to 'favorites', favorites_path
%li
  = link_to 'facets', facets_path
%li
  = link_to 'experiences', experiences_path
%li
  = link_to 'résumé', resume_path
%li
  = link_to 'cache', cache_index_path
%li
  = link_to 'logout', logout_path