!!! 5
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
/[if gt IE 9]  <html lang="en" class="no-js"> 
%head
  = render :partial => 'layouts/static/headincmeta'
%body
  #container
    = render :partial => 'layouts/static/header'
    = render :partial => 'layouts/static/navigation'
    #main
      - if flash[:error]
        #flash.error
          %h1 Error
          = flash[:error]
      - if flash[:notice]
        #flash.notice
          %h1 Notice
          = flash[:notice]
      = yield
    = render :partial => 'layouts/static/footer'
  = render :partial => 'layouts/static/pageend'